.title-container{
    text-align: center;
  }
  
.main-title {
    text-align: center;
    font-size: 2.7rem;
    display: inline-block;
    margin: 0 auto;
    transition: 0.3s all ease-in;
}
.main-title:hover{
    transform: translateY(-5px);
    transition: 0.3s all ease-in;
}
  
.sub-title {
    text-align: center;
}

* {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.full-container{
    margin: 20px auto;
    width : 90%;
}

.time-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 0.8rem;

}

.time {
    width: 80px;
    text-align: center;
    letter-spacing: 5px;
}

.separator {
    border-top: 1px solid #000; /* 선의 두께와 색상을 지정 */
    margin-top: 10px; /* 선 위쪽 여백을 조절 */
    margin-bottom: 10px; /* 선 아래쪽 여백을 조절 */
    margin-left: 10px;
    margin-right: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-button {
    display: flex;
    outline: none;
    color: #DAA06D;
    background-color: #EADDCA;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    width: 169px;
    height: 40px;
    font-size: 0.9rem;
    border: 2px dashed #DAA06D;
    border-radius: 15px;
    box-shadow: 0 0 0 4px #EADDCA, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out, .4s color;
}

.menu-button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #EADDCA, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

.container{
    display : flex;
    margin: 30px auto;
    width : 90%;
}

.detail-form{
    width: 40%;
    margin-right: 10px;
}

.detail-pic {
    width: 60%;
    height: 70vh;
    margin-right: 20px;
    
    background-size: cover; /* 배경 이미지를 커버하도록 설정합니다. */
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    width: 100%;
    font-size: 3rem;
    margin-top: 75px;
    margin-bottom: 10px; /* 제목과 다음 요소 간격 조절 */
    justify-content: flex-end;
    border-bottom: 1px solid black;
}

.dp{
    display : flex;
    align-items: flex-end;
    font-size: 1.5rem;
    width : 100%;
    justify-content: space-between;
}

.date{
    margin-bottom: 10px;
}

.people{
    margin-bottom: 10px;
}

.content {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 10px; /* 각 항목 간격 조절 */
    background-color: aliceblue;
}