body{
  background-color: #EBF3E8;
}

.title-container{
  text-align: center;
}

.main-title {
  text-align: center;
  font-size: 3.2rem;
  color: #86A789;
  display: inline-block;
  margin: 0 auto;
  transition: 0.3s all ease-in;
}
.main-title:hover{
  transform: translateY(-5px);
  transition: 0.3s all ease-in;
}

.sub-title {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.full-container{
  margin: 20px auto;
  width : 90%;
}

.time-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  font-size: 0.8rem;

}

.time {
  width: 80px;
  text-align: center;
  letter-spacing: 5px;
}

.separator {
  border-top: 2px solid #86A789; /* 선의 두께와 색상을 지정 */
  margin-top: 10px; /* 선 위쪽 여백을 조절 */
  margin-bottom: 10px; /* 선 아래쪽 여백을 조절 */
  margin-left: 10px;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-button {
  display: flex;
  outline: none;
  color: #fff;
  background-color: #86A789;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  width: 169px;
  height: 40px;
  font-size: 0.9rem;
  border: 2px dashed #4F6F52;
  border-radius: 15px;
  box-shadow: 0 0 0 4px #86A789, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: .1s ease-in-out, .4s color;
}

.menu-button:active {
  transform: translateX(0.1em) translateY(0.1em);
  box-shadow: 0 0 0 4px #86A789, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
  color: black;
}

.description-box {
  padding: 30px;
  background-color: #D2E3C8;
  border: 1px solid #B2C8BA;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.description-title {
  text-align: center;
}
.description-content {
  text-align: center;
}
.user-info{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.userName{
  font-size: 1.5em;
}

.con-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
  width : 90%;
  
}

.container-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #86A789;
}

.container{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 5px;
  width: 60%;
}

.container2{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 30%;

}

.product {
  display: flex;
  padding: 10px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 25px;
  background-color: #F3EEEA;
  transition: 0.3s all ease-in;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.product:hover{
  scale : 1.1;
  transition: 0.3s all ease-in;

}

.wishlist {
  display: flex;
  padding: 10px;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 25px;
  background-color: #fff;
  transition: 0.3s all ease-in;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.wishlist:hover{
  scale : 1.1;
  transition: 0.3s all ease-in;

}

.thumbnail {
  max-width: 200px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.product .title {
  font-size: 17px;
  font-weight: 600;
}
.product .date {
  font-size: 16px;
}
.product .content{
  font-size: 13px;
  overflow: hidden;
}

.detail-pic {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
} 

.flex-grow{
  margin-left: 15px;
}

.wishlist .title {
  font-size: 17px;
  font-weight: 600;
}
.wishlist .date {
  font-size: 16px;
}
.wishlist .content{
  
  font-size: 13px;
  overflow: hidden;
}
